@using Domain;
@* @model NavbarViewModel *@
@{
    var Model = (NavbarViewModel)ViewBag.NavbarViewModel;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StorageAppMvc</title>

    @* <link rel="stylesheet" href="~/StorageAppMvc.styles.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootswatchtheme.css" />
    <link href="~/lib/styles.css" rel="stylesheet" />


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (Model.selectedRoom != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" action="@Url.Action("Index", "Item", new { id = Model.selectedRoom.Id })">New Components</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" action="@Url.Action("Navigation", "Item", new { RoomId = Model.selectedRoom.Id })">Storage</a>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Item" asp-action="Index">New Components</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Navigation" asp-action="Index">Storage</a>
                            </li>
                        }
                        @* <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Asp-Controllers</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item nav-link" asp-area="" asp-controller="Items" asp-action="Index">ASP-Items</a>
                                <a class="dropdown-item nav-link" asp-area="" asp-controller="Containers" asp-action="Index">ASP-Containers</a>
                            </div>
                        </li> *@

                    </ul>

                    <form class="d-flex">
                        <input class="form-control me-sm-2" type="search" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <li class="nav-room-item nav-item dropdown d-flex">
                        @if (Model.selectedRoom == null)
                        {
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Current Room</a>
                        }
                        @if (Model.selectedRoom != null)
                        {
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@Model.selectedRoom.Name</a>
                        }
                        <select class="dropdown-menu" id="roomDropdown">
                            @foreach (Room room in Model.Rooms)
                            {
                                @* <a class="dropdown-item nav-link" id="dropdown-item-@room.Id" value="@room.Id" asp-area="" asp-controller="" asp-action="Index" asp-route-id="@room.Id">@room.Name</a> *@
                                <option class="dropdown-item nav-link" id="dropdown-item-@room.Id" value="@room.Id">@room.Name</option>
                            }
                        </select>
                    </li>
                 
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item username"><a class="nav-link">@User.Identity.Name&nbsp&nbsp&nbsp<i class="fa-regular fa-circle-user fa-lg usericon" style="color: #ffffff;"></i></a></li>
                    }
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('#roomDropdown').change(function () {
                var selectedRoomId = $(this).val();
                var currentUrl = window.location.href;
                var baseUrl = currentUrl.split('?')[0]; // Remove any query string
                var newUrl = baseUrl + '?roomid=' + selectedRoomId;
                window.location.href = newUrl;
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
