@using Domain;
@{
    var Model = (NavbarViewModel)ViewBag.NavbarViewModel;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StorageAppMvc</title>

    @* <link rel="stylesheet" href="~/StorageAppMvc.styles.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootswatchtheme.css" />
    <link href="~/lib/styles.css" rel="stylesheet" />


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (Model != null)
                        {
                            @if (Model.selectedRoom != null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Item" asp-action="Index" asp-route-id="@Model.selectedRoom.Id">New Components</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Navigation" asp-action="Index" asp-route-id="@Model.selectedRoom.Id">Storage</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Rooms" asp-action="Index">Rooms</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Item" asp-action="Index">New Components</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Navigation" asp-action="Index">Storage</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Rooms" asp-action="Index">Rooms</a>
                                </li>
                            }
                        }
                    }
                </ul>
                <div class="d-flex ms-auto align-items-center">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (Model != null)
                        {
                            <form method="get" class="d-flex" asp-controller="Navigation" asp-action="SearchForItem">
                                <input class="form-control me-sm-2" name="searchString" type="search" placeholder="Search for an item">
                                <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                            </form>
                            <div class="nav-item dropdown nav-room-item ">
                                @if (Model.selectedRoom == null)
                                {
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Current Room</a>
                                }
                                @if (Model.selectedRoom != null)
                                {
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@Model.selectedRoom.Name</a>
                                }
                                <div class="dropdown-menu" id="roomDropdown">
                                    @foreach (Room room in Model.Rooms)
                                    {
                                        <a class="nav-link dropdown-item" id="dropdown-item-@room.Id" value="@room.Id" asp-area="" asp-controller="@ViewContext.RouteData.Values["Controller"]" asp-action="Index" asp-route-id="@room.Id">@room.Name</a>
                                    }
                                </div>
                            </div>
                        }
                    }
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
